.gastronomybox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
  margin-top: 0;
  flex: 1;
  &__title{
    width: fit-content;
    font-family: 'Geniral';
    font-style: normal;
    font-size: 380px;
    font-weight: 400;
    line-height: 424px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #101010;
    white-space: nowrap;
    position: relative;
    animation: scroll-left 10s infinite linear;
    &::after{
      position: absolute;
      content: 'Гастрономия Гастрономия\a0';
    }
    &-inner{
      overflow: hidden;
      max-width: 960px;
      width: 100%;
    }
    &-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: -50px;
      div:nth-child(2){
        margin-top: 40px;
      }
    }
  }
}

@keyframes scroll-left {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%)
  }
}