.mobilemenu__btnbuyticket{
  width: 64px;
  min-height: 48px;
  background-color: #76FB9C;
  display: flex;
  align-items: center;
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color: #101010;
}